body {
    margin: 0;
    background-color: #222831;
    width: auto;
}

#home {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #393E46;
    font-family: 'Gemunu Libre', sans-serif;
    color: #00ADB5;
    text-align: center;
    padding-bottom: 3vh;
    padding-top:10vh;
    width: 100%;
    gap: 3vw;
}

#navbar {
    height: 7.5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    background-color:  #222831;
}

#navbar-name {
    color: #00ADB5;
    margin-left: 1vw;
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 2.5vh;
    text-align: center;
}

#navbar-btns {
    /* height: 7vh; */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: .5vw;
    margin-right: 1vw;
}

.nav-btn {
    background-color:  #222831;
    border: .3vh solid #00ADB5;
    color: #00ADB5;
    border-radius: 1vh;
    height: 4vh;
    font-size: 2.5vh;
    font-family: 'Gemunu Libre', sans-serif;
}

.nav-btn:hover {
    opacity: 0.7;
}

#portrait {
    width: 240px;
    height: 270px;
    border-radius: 50%;
    border: 1vh solid #222831;
}

#aboutme {
    background-color: #393E46;
    color: #00ADB5;
    /* text-align: center; */
    font-family: 'Gemunu Libre', sans-serif;
    padding-bottom: 3vh;
    width: 100%;
}

#drip_pic {
    display: block;
    max-width:30vw;
    max-height:60vh;
    width: auto;
    height: auto;
    border: 1vh solid #222831;

}

#aboutme-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 2.5vh;
    gap: 5vw;
}

.section-title {
    width: 100%;
    text-align: center;
}

#aboutme-text {
    width: 55%;
    text-align: left;
    color: #EEEEEE;
}

.fa {
    padding: 10px;
    font-size: 100px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 10%;
  }

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
    background: #3B5998;
    color: white;
  }

.fa-instagram {
    background: #7859bc;
    color: white;
}

.fa-github {
    background: white;
    color: black;
}

#projects {
    background-color: #393E46;
    color: #00ADB5;
    /* text-align: center; */
    font-family: 'Gemunu Libre', sans-serif;
    padding-bottom: 3vh;
    width: 100%;
}

#projects-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5vw;
    font-size: 2.5vh;
}

.project-visual {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    font-size: 2.3vh;
}

#google-pic {
    display: block;
    max-width:50vw;
    max-height:50vh;
    width: auto;
    height: auto;
    border: 1vh solid #222831;
}

.project-separator {
    text-align: center;
}

.project-description {
    width: 40%;
    text-align: left;
    color: #EEEEEE;
}

#google-btn {
    background-color:  #222831;
    border: .3vh solid #00ADB5;
    color: #00ADB5;
    border-radius: 1vh;
    height: 4vh;
    font-size: 2.5vh;
    font-family: 'Gemunu Libre', sans-serif;
}

#google-link {
    margin-top: 2vh;
    font-size: 2.7vh;
    color: #00ADB5;
}

#connect-four-vid {
    display: block;
    max-width:50vw;
    max-height:50vh;
    width: auto;
    height: auto;
    border: 1vh solid #222831;
}

.project-skills {
    color: #00ADB5;
}

#spotify-pic {
    display: block;
    max-width:50vw;
    max-height:50vh;
    width: auto;
    height: auto;
    border: 1vh solid #222831;
}

#flashcard_gif {
    display: block;
    max-width:70vw;
    max-height:70vh;
    width: auto;
    height: auto;
    border: 1vh solid #222831;
}
